@model Web_AspDotNet_ArtikelDb.Models.Artikel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body style="background-color:chartreuse;border-radius:11px,11px,11px,11px">
    <h1>Artikel DB</h1>
    <h2>Details</h2>
    <label asp-for="@Model.AId">@Model.AId</label><br />
    <label asp-for="@Model.Bezeichnung">@Model.Bezeichnung</label><br />
    <img src="/Bilder/@Model.Bildname" width="555" /><br />
    <label asp-for="@Model.Preis">@Model.Preis</label>
    <a href="/home/index">Zurück</a>
</body>
</html>
