@model Web_AspDotNet_ArtikelDb.Models.ListeArtikel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h1>Artikel</h1>
    <a href="/home/Insert">Neuer Artikel</a>

    @if (@Model.ArtikelListe == null)
    {
        <h2>Noch keine Artikel in der Datenbank!</h2>
    }
    else { <table>
            @foreach (var art in @Model.ArtikelListe)
            {
                <tr>
                    <td>@art.AId</td>
                    <td>@art.Bezeichnung</td>
                    <td>@art.Preis</td>
                    <td>@art.Bildname</td>
                </tr>
            }
        </table>
    }

</body>
</html>
