@model Web_AspDotNet_ArtikelDb.Models.AddArtikel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Insert</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
    <div style="width:80%;margin:auto">
        <h1 class="Ueberschrift Hintergrund"><strong>Artikel DB (neu)</strong></h1>
    </div>
    <div style="width:80%;margin:auto;background-color:cornflowerblue;padding:1em;border-radius:10px">
        <form method="post" asp-action="Insert" enctype="multipart/form-data" style="background-color:aquamarine">
            <div class="mb-3">
                <label asp-for="@Model.Bezeichnung" class="form-label"></label>
                <input type="text" asp-for="@Model.Bezeichnung" class="form-control" />
                <span asp-validation-for="@Model.Bezeichnung"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.Preis" class="form-label"></label>
                <input type="text" asp-for="@Model.Preis" class="form-control" />
                <span asp-validation-for="@Model.Preis"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.Bild" class="form-label"></label>
                <input type="file" asp-for="@Model.Bild" class="form-control" />
                <span asp-validation-for="@Model.Bild"></span>
            </div>
            <button>Speichern</button>
            <button type="reset">Reset</button>
        </form>
    </div>
</body>
</html>
